body{
background-color: #611414;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
form{
    width: 400px;
background-color: rgb(26, 24, 150);

padding: 20px;

margin: 50px auto;

border: 1x solid #1a960f;
border-radius: 10px;
font-style: oblique;




}

label{


font-weight: bold;


}
input{

width: 100%;
padding: 10px;
margin-bottom: 15px;



}

button{


padding: 10px 20px;
cursor: pointer;




}