*{
    margin: 0%;
    padding: 0%;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: azure;
    line-height: 1.6;
}
.cabecalho{
    height: 80px;
padding: 0 10%;
display: flex;
justify-content: space-between;
align-items: center;
background-color: #0808e2;
border-bottom: 1px solid #a31937;
position: sticky;
top: 0;
z-index: 10;




}

